name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        job:
          # Linux
          - { os: ubuntu-24.04, compiler: "g++",     cpp_standard: "11", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "g++",     cpp_standard: "14", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "g++",     cpp_standard: "17", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "g++",     cpp_standard: "17", build_type: "RelWithDebInfo" }
          - { os: ubuntu-24.04, compiler: "g++",     cpp_standard: "20", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "clang++", cpp_standard: "11", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "clang++", cpp_standard: "14", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "clang++", cpp_standard: "17", build_type: "Debug"          }
          - { os: ubuntu-24.04, compiler: "clang++", cpp_standard: "17", build_type: "RelWithDebInfo" }
          - { os: ubuntu-24.04, compiler: "clang++", cpp_standard: "20", build_type: "Debug"          }
          # MacOS
          - { os: macos-15,     compiler: "clang++", cpp_standard: "17", build_type: "Debug"          }
          # Windows
          # Note: we do not test for C++11 as MSVC does not support a C++11 version switch, see:
          # https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/
          - { os: windows-2022, compiler: "cl",      cpp_standard: "14", build_type: "Debug"          }
          - { os: windows-2022, compiler: "cl",      cpp_standard: "17", build_type: "Debug"          }
          - { os: windows-2022, compiler: "cl",      cpp_standard: "17", build_type: "RelWithDebInfo" }
          - { os: windows-2022, compiler: "cl",      cpp_standard: "20", build_type: "Debug"          }

    runs-on: ${{ matrix.job.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Configure CMake
      shell: bash
      run: |
        cmake -B build -S $GITHUB_WORKSPACE \
          -DCMAKE_CXX_COMPILER=${{matrix.job.compiler}} \
          -DCMAKE_CXX_STANDARD=${{matrix.job.cpp_standard}} \
          -DCMAKE_CXX_STANDARD_REQUIRED=ON \
          -DCMAKE_BUILD_TYPE=${{matrix.job.build_type}}

    - name: Build
      shell: bash
      run: cmake --build build --config ${{matrix.job.build_type}}

    - name: "Copy executables"
      if: runner.os == 'Windows'
      shell: bash
      run: cp build/${{matrix.job.build_type}}/*.exe build/

    - name: Run example
      shell: bash
      run: ./build/dbg_macro-example

    - name: Run demo
      shell: bash
      run: ./build/dbg_macro-demo

    - name: Run tests
      shell: bash
      run: ./build/dbg_macro-tests

    - name: Run tests (macro disabled)
      shell: bash
      run: ./build/dbg_macro-tests-macro_disabled
